<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>508684880495-2l14q9oo61693ffo3g5uq1qbt66lqtp8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508684880495-2l14q9oo61693ffo3g5uq1qbt66lqtp8</string>
	<key>API_KEY</key>
	<string>AIzaSyCaSHwoJimPd_Y1iMV45bxV6tCftrgS8q4</string>
	<key>GCM_SENDER_ID</key>
	<string>508684880495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jinqiu.EvaChat</string>
	<key>PROJECT_ID</key>
	<string>evachat-e0e0d</string>
	<key>STORAGE_BUCKET</key>
	<string>evachat-e0e0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:508684880495:ios:eda2ead205879873</string>
	<key>DATABASE_URL</key>
	<string>https://evachat-e0e0d.firebaseio.com</string>
</dict>
</plist>